<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Team Leader</th>
            <th scope="col">Project Manager</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" *ngIf="department?.length==0" style="text-align: center;">There is no data available</td>
        </tr>
        <tr *ngFor="let dep of department | paginate: { itemsPerPage: 2, currentPage: p }">
            <td id="name">{{dep.departmentType}}</td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="status" [checked]="dep.status">
                    <label class="form-check-label" for="status">
                      Status
                    </label>
                </div>
            </td>
            <td>{{dep.teamLeader}}</td>
            <td>{{dep.projectManager}}</td>
            <td>
                <button class="btn btn-primary" style="background-color:transparent; color:red; border: 0px;" (click)="editDepartment(dep)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-primary" style='background-color:transparent; color:red; border: 0px;' (click)="deleteDepartment(dep)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr colspan="3">
            <td *ngIf="department?.length!=0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
        </tr>
    </tfoot>
</table>

<!-- <div class="text-center">
    <div *ngIf="department!=null|| department!=undefined">
        <p *ngFor="
        let item of department | paginate: { itemsPerPage: 2, currentPage: p }"></p>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div> -->